@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-body {
  height: auto;
  min-height: 100%;
}

.App-header {
  background-image: linear-gradient(262deg, #ff7854, #fd267d);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  font-weight: bolder;
  color: white;
  height: 175px;
  padding: 50px;
}

.App-link {
  color: #61dafb;
}

